<?xml version="1.0"?>
<!--
/**
 * Copyright © Krish, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="krish_adminlogin" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Admin Login</label>
            <tab>krish</tab>
            <resource>Krish_Adminlogin::root</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_ips" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20">
                    <label>Allowed IPs</label>
                    <comment>Comma seprated, for eg (127.0.0.1,192.168.0.1)</comment>
                </field>
                <field id="current_ip" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="25">
                    <label>Your IP Address</label>
                    <frontend_model>Krish\Adminlogin\Block\Adminhtml\Form\Field\CurrentIp</frontend_model>
                </field>
                <field id="username" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30">
                    <label>Username</label>
                </field>

                <field id="password" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30">
                    <label>Password</label>
                </field>
            </group>
        </section>
    </system>
</config>